<h1>Incidents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Resolved?</th>
    </tr>
  </thead>
  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.title %></td>
        <td><%= incident.description %></td>
        <td><%= incident.resolved %></td>
      </tr>
    <% end %>
  </tbody>
</table>
